{% include 'header_admin.html' %}
<h1>根据年龄段进行点餐习惯分析</h1>
<form>
    <table border="1">
        <tr>
            <th>年龄组</th>
            <th>店家名</th>
            <th>订单数</th>
        </tr>
        {% if not datas1 %}
            <p>Nothing found.</p>
        {% else %}
            {% for user in datas1 %}
                <tr>
                    <td>{{ user["age_group"] }}</td>
                    <td>{{ user["merchant_name"] }}</td>
                    <td>{{ user["order_count"] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</form>
<h1>根据角色进行点餐习惯分析</h1>
<form>
    <table border="1">
        <tr>
            <th>角色</th>
            <th>店家名</th>
            <th>订单数</th>
        </tr>
        {% if not datas2 %}
            <p>Nothing found.</p>
        {% else %}
            {% for user in datas2 %}
                <tr>
                    <td>{{ user["user_role"] }}</td>
                    <td>{{ user["merchant_name"] }}</td>
                    <td>{{ user["order_count"] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</form>
<h1>根据性别进行点餐习惯分析</h1>
<form>
    <table border="1">
        <tr>
            <th>性别组</th>
            <th>店家名</th>
            <th>订单数</th>
        </tr>
        {% if not datas3 %}
            <p>Nothing found.</p>
        {% else %}
            {% for user in datas3 %}
                <tr>
                    <td>{{ user["user_gender"] }}</td>
                    <td>{{ user["merchant_name"] }}</td>
                    <td>{{ user["order_count"] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</form>
<h1>根据年龄段进行评价习惯分析</h1>
<form>
    <table border="1">
        <tr>
            <th>年龄组</th>
            <th>评价数</th>
            <th>平均分</th>
        </tr>
        {% if not datas4 %}
            <p>Nothing found.</p>
        {% else %}
            {% for user in datas4 %}
                <tr>
                    <td>{{ user["age_group"] }}</td>
                    <td>{{ user["review_count"] }}</td>
                    <td>{{ user["average_score"] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</form>
<h1>根据角色进行评价习惯分析</h1>
<form>
    <table border="1">
        <tr>
            <th>角色组</th>
            <th>评价数</th>
            <th>平均分</th>
        </tr>
        {% if not datas5 %}
            <p>Nothing found.</p>
        {% else %}
            {% for user in datas5 %}
                <tr>
                    <td>{{ user["user_role"] }}</td>
                    <td>{{ user["review_count"] }}</td>
                    <td>{{ user["average_score"] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</form>
<h1>根据性别进行评价习惯分析</h1>
<form>
    <table border="1">
        <tr>
            <th>性别组</th>
            <th>评价数</th>
            <th>平均分</th>
        </tr>
        {% if not datas6 %}
            <p>Nothing found.</p>
        {% else %}
            {% for user in datas6 %}
                <tr>
                    <td>{{ user["user_gender"] }}</td>
                    <td>{{ user["review_count"] }}</td>
                    <td>{{ user["average_score"] }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</form>
{% include 'footer.html' %}
