{% include 'header_merchant.html' %}
<h1>店铺详细信息</h1>
<form>
    <table border="1">
        <tr>
            <th>店铺ID</th>
            <td>{{ merchant["id"] }}</td>
        </tr>
        <tr>
            <th>名称</th>
            <td>{{ merchant["name"] }}</td>
        </tr>
        <tr>
            <th>地址</th>
            <td>{{ merchant["address"] }}</td>
        </tr>
        <tr>
            <th>添加时间</th>
            <td>{{ merchant["add_time"] }}</td>
        </tr>
        <tr>
            <th>热销食品</th>
            <td>{{ ana_datas["food_name"] }}</td>
        </tr>
                <tr>
            <th>热销评分</th>
            <td>{{ ana_datas["food_score"] }}</td>
        </tr>
                <tr>
            <th>热销销量</th>
            <td>{{ ana_datas["food_sales_volume"] }}</td>
        </tr>
                <tr>
            <th>忠实用户</th>
            <td>{{ ana_datas["top_buyer"] }}</td>
        </tr>
    </table>
</form>
{% include 'footer.html' %}
