{% include 'header_user.html' %}
<div class="container">
    <div class="jumbotron">
        <h1>评价订单</h1>
        <form action=/user/do_score_dishes/{{ order_id }} method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">打分</label>
                <input type="text" name="score" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">评价</label>
                <input type="text" name="content" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
{% include 'footer.html' %}
