{% include 'header_admin.html' %}
<div class="container">
    <div class="jumbotron">
        <h1>添加或修改用户，相同学工号视为修改</h1>
        <form action="/man/do_man_add_users" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">姓名</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">身份（学生/教职工）</label>
                <input type="text" name="identity" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">学工号</label>
                <input type="text" name="student_number" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">密码</label>
                <input type="text" name="pwd" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">性别</label>
                <input type="text" name="sex" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">生日（xxxx-xx-xx）</label>
                <input type="text" name="BirthDate" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
{% include 'footer.html' %}
