{% include 'header_admin.html' %}
<div class="container">
    <div class="jumbotron">
        <h1>添加菜品</h1>
        <form action="/mer/do_mer_add_dishes" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">姓名</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="dropdown mr-1">
                    <label for="option">选择菜品:</label>
                    <select id="option" name="option">
                        {% for foodclassification in classDatas %}
                            <option value={{ foodclassification["id"] }}>{{ foodclassification["name"] }}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">图片地址</label>
                <input type="text" name="picture" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">价格</label>
                <input type="text" name="price" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">描述</label>
                <input type="text" name="description" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">蛋白质</label>
                <input type="text" name="nutrition" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">原料</label>
                <input type="text" name="ingredient" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">过敏原</label>
                <input type="text" name="allergy" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
{% include 'footer.html' %}
