{% include 'header.html' %}
<form action="/do_add_user" method="post">
            <table border="1">
                <tr>
                    <th>用户名</th>
                    <td><input type="text" name="name"></td>
                </tr>
                 <tr>
                    <th>性别</th>
                    <td><input type="text" name="sex"></td>
                </tr>
                 <tr>
                    <th>年龄</th>
                    <td><input type="text" name="age"></td>
                </tr>
                 <tr>
                    <th>邮箱</th>
                    <td><input type="text" name="email"></td>
                </tr>
                 <tr>
                    <th>提交</th>
                    <td><input type="submit" name="submit" value="提交"></td>
                </tr>
            </table>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% include 'footer.html' %}